* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.basic_info_wrapper {
    background: #f8f9fa;
    padding: 60px;
}
.profile_picture {
    display: flex;
    justify-content: center;
}
.profile_picture img {
    border-radius: 100%;
}
.container {
    width: 100%;
}
.biography {
    text-align: center;
    font-size: 56px;
    font-weight: 300;
    margin: 24px 300px 0;
}
.info_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}
.main_header {
    font-size: 32px;
    font-weight: 600;
}
.free {
    font-weight: 600;
    background-color: #dc3545;
    font-size: 12px;
    margin: 0 auto;
    color: #fff;
    padding: 2px 8px;
    border-radius: 7px;
    margin-top: 8px;
}
.sub_paragraph {
    font-size: 16px;
    margin: 8px 0 16px 0;
}
a svg {
    height: 16;
}
.lessons_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    width: 1320px;
    place-items: center;
}
.cards_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.card {
    height: 200px;
    width: 304px;
    border: solid #dbdada 1px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.card i {
   font-size: 64px;
   margin-left: 5px;

}
.inner_content {
    margin: 16px 0;
}
.lesson_name {
    margin: 20px 0;
    text-align: center;
}
.mentoring_info {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
}
.mentoring_info p {
    text-align: center;
    font-size: 16px;
}
.mentoring_info img {
    height: 57px;
    margin: 0 auto;
    margin-top: 16px;
}
footer {
    background: #f8f9fa;
    padding: 60px 297px;;
    height: 24px;
    display: flex;
    justify-content: space-between;